@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Week-Project */
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65;
}
/* Header */
header {
  background-color: black;
  padding: 0.5rem;
}
header img {
  width: 80px;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}
/* Hero */
.hero {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding: 9rem;
}
h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 0.9;
  text-align: center;
  color: #25a2c3;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.2rem;
}
.hero p {
  text-align: center;
  color: #393d41;
  font-size: 0.8rem;
}
button {
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
  background-color: #f04c2f;
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
}
button span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  color: white;
  margin-inline: 12px;
}
/* Purpose Section */
.purpose {
  padding: 4rem;
  text-align: center;
}
.notebook {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.lead {
  display: inline-block;
  width: 300px;
}
h2 {
  color: #25a2c3;
  font-weight: 700;
  font-size: 0.5rem;
  text-align: left;
}
.purpose p {
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
  margin-right: 7rem;
  color: #393d41;
  font-size: 0.5rem;
  font-weight: 200;
  text-align: left;
}
.purpose img {
  width: 200px;
  border-radius: 50%;
}
/* Warranty */
.warranty {
  background-color: #e22d0e;
  padding: 2rem;
  text-align: center;
}
h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 1.2rem;
}
.warranty p {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  font-style: oblique;
}
.author {
  font-size: 0.6rem;
  color: white;
}
.desc {
  color: white;
  font-size: 0.4rem;
}
/* Aside */
aside {
  padding: 3rem;
  text-align: center;
}
aside img {
  width: 100%;
  height: 117px;
}
.card {
  width: 200px;
  margin: 0.3rem;
  border: 2px solid #dee1e3;
  display: inline-block;
}
h4 {
  color: #25a2c3;
  font-weight: 700;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}
.caption {
  padding: 0.4rem;
}
.card p {
  font-size: 0.5rem;
  font-weight: 200;
}
/* Footer */
footer {
  background-color: #25a2c3;
  text-align: center;
  padding: 2rem;
}
.contact {
  display: inline-block;
}
.contact h3 {
  text-align: left;
  margin: 0%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
ul li {
  text-align: left;
  list-style: none;
  font-size: 0.5rem;
  color: #c8e7f0;
}
footer i {
  margin-right: 6px;
  color: #c8e7f0;
}
footer a {
  color: #c8e7f0;
}
.line-container {
  width: 150px;
  margin: auto;
}
.line {
  height: 1px;
  background-color: #c8e7f0;
  margin: 1rem;
}
.copy {
  color: #c8e7f0;
  font-size: 0.4rem;
}
